<table class="front" summary="For signed-in users">
	<tr>
		<td class="main">
			<h1 class="micropost" id="micropost">What's up?</h1>
			<h2 id="char_count">140</h2>
			<%= render 'shared/micropost_form' %>
			<%= render 'shared/feed' %>
		</td>
		<td class="sidebar round">
			<%= render 'shared/user_info' %>
		</td>
	</tr>
</table>